<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Pizza Tower</title>

    <script type = "module" src = "js/pizza.js" defer></script>
    <link rel = "icon" href = "images/pizza-tower-icon.png">
    <link rel = "stylesheet" href = "styles/pizza-styles.css">
</head>
<body>
    <main>
        <header>
            <img src = "images/pizza-tower-logo.png" alt = "Peppino Spaghetti">
            <h1>Welcome to Pizza Tower</h1>
            <h2>Serving the Greater Puget Sound for 25 Years</h2>
            <hr>
            <p>Watch out for falling pillars</p>
            <a id = "contact-button" href = "#" role = "button">Contact Our Team Today!</a>
        </header>

        <form id = "pizza-form" action = "#" method = "get">
            <fieldset>
                <legend>Contact Info</legend>
                <label for = "first-name">First Name:
                    <span class = "err" id = "err-first-name">
                        First name is required.
                    </span>
                </label>
                <input type = "text" id = "first-name" name = "first-name">
                <label for = "last-name">Last Name:
                    <span class = "err" id = "err-last-name">
                        Last name is required.
                    </span>
                </label>
                <input type = "text" id = "last-name" name = "last-name">
                <label for = "email-address">Email Address:
                    <span class = "err" id = "err-email">
                        Email address is required.
                    </span>
                </label>
                <input type = "text" id = "email-address" name = "email-address">
            </fieldset>

            <fieldset>
                <legend>Pickup or Delivery</legend>
                <span class = "err" id = "err-method">
                    Please select pickup or delivery.
                </span>
                <label for = "pickup">
                    <input type = "radio" id = "pickup" value = "pickup" name = "method">Pickup
                </label>
                <label for = "delivery">
                    <input type = "radio" id = "delivery" value = "delivery" name = "method">Delivery
                </label>
            </fieldset>

            <fieldset>
                <legend>Pizza Size</legend>
                <span class = "err" id = "err-size">
                    Please select a pizza size.
                </span>
                <select id = "size" name = "size">
                    <option value = "none">--- Select a size ---</option>
                    <option value = "small">Small</option>
                    <option value = "medium">Medium</option>
                    <option value = "large">Large</option>
                    <option value = "extra-large">Extra Large</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>Toppings</legend>
                <label for = "mushroom">
                    <input type = "checkbox" id = "mushroom" name = "toppings[]" value = "mushroom">
                    Mushrooms
                </label>
                <label for = "tomato">
                    <input type = "checkbox" id = "tomato" name = "toppings[]" value = "tomato">
                    Tomatoes
                </label>
                <label for = "sausage">
                    <input type = "checkbox" id = "sausage" name = "toppings[]" value = "sausage">
                    Sausage
                </label>
                <label for = "pineapple">
                    <input type = "checkbox" id = "pineapple" name = "toppings[]" value = "pineapple">
                    Pineapple
                </label>
                <label for = "cheese">
                    <input type = "checkbox" id = "cheese" name = "toppings[]" value = "cheese">
                    Extra Cheese
                </label>
            </fieldset>

            <label for = "comment">Comments:</label>
            <textarea rows = "4" id = "comment" name = "comment"></textarea>

            <label for = "sign-up">
                <input type = "checkbox" id = "sign-up" name = "sign-up" checked>
                Add me to the discount email list!
            </label>

            <button type = "submit" id = "order-button">Place Order</button>
        </form>
    </main>
</body>
</html>