* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkred;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: #eee;
    border-radius: 0.3rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

header img {
    float: right;
    max-width: 250px;
}